* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
}

.register-menu {
  margin: 1em;
  border: 1px solid var(--bordercolor);
  width: 100%;
  max-width: 450px;
  border-radius: 24px;
  box-shadow: 2px 2px 4px rgb(168, 168, 168);
  background-color: var(--windowcolor);
}

.logo {
  text-align: center;
  justify-content: center;
  margin-top: 1em;
}
.logo img {
  width: 35%;
}

.register-menu-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.register-menu-subtitle {
  font-size: 1.6em;
  text-align: center;
  font-weight: 400;
}

.success-message {
  text-align: center;
  padding: 0.3em 0;
  color: green;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.failed-message {
  text-align: center;
  padding: 0.3em 0;
  color: red;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.registerfield {
  font-size: 1.2em;
  padding-left: 0.2em;
  width: 100%;
  border: none;
  text-align: center;
}

fieldset {
  border: none;
  outline: none;
}

.registerfield:focus {
  outline: none;
}

.register-buttons {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 2%;
}

.register-btn {
  text-decoration: none;
  font-size: 1em;
  color: white;
  padding: 0.5em 1.5em;
  border: 1px solid var(--bordercolor);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--buttonbgcolor);
}

#extnum {
  width: 100%;
}

.foot-btn {
  width: 90%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.button {
  text-decoration: none;
  text-align: center;
  color: white;
  border: 1px solid var(--bordercolor);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--maincolor);
  font-size: 1em;
  padding: 1em 2em;
}

.abutton {
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--secundarytext);
  font-size: 1em;
  padding: 0.98em 2em;
}

.empitytd {
  height: 2.8em;
}

.extinguisher-informations {
  border: 2px solid var(--bordercolor);
  border-radius: 12px;
  margin: auto;
  table-layout: fixed;
  width: 90%;
  border-spacing: 0;
}

.extinguisher-informations td,
.extinguisher-informations th {
  width: 33%;
}

.extinguisher-informations th {
  font-size: 1em;
  padding: 0.3em 0;
  font-weight: bold;
  color: var(--maintextcolor);
  background-color: var(--bordercolor);
}

.extinguisher-informations td {
  text-align: center;
  background-color: white;
  padding: 0.4em 0;
}
.label-title {
  display: block;
  padding: 0.2em;
  margin-bottom: 0.2em;
}

label {
  padding: 0.2em;
  margin-right: 1em;
}

.empity-output {
  height: 2.4rem;
}

.extinguisher-informations tr th,
.extinguisher-informations tr td {
  border: 1px solid var(--bordercolor);
}

.extinguisher-informations tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.extinguisher-informations tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.extinguisher-informations tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.extinguisher-informations tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.error-message {
  text-align: center;
  margin: 1em auto;
  width: fit-content;
  background-color: var(--maincolor);
  padding: 0.4em 0.6em;
  border-radius: 12px;
  color: white;
}

.foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1%;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.foot a {
  width: 60%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2%;
}

.foot p {
  font-size: 0.8em;
  font-weight: 600;
}

.foot img {
  width: 45%;
}
