:root {
  --bgcolor: #f0f0f0;
  --windowcolor: #ffffff;
  --maincolor: #e53935;
  --maincolorhover: #d32f2f;
  --bordercolor: #e0e0e0;
  --maintextcolor: #212121;
  --secundarytext: #555555;
  --tofillbg: #e9e9e9;
}
