* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100dvh;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bgcolor);
}

fieldset {
  border: none;
}
.login-screen {
  width: 90%;
  min-height: 80vh;
  max-width: 450px;
  padding: 1.6em 0;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 24px;
  box-shadow: 2px 2px 4px rgb(168, 168, 168);
  background-color: var(--windowcolor);
}

.logo {
  text-align: center;
  justify-content: center;
  margin-top: 1em;
}
.logo img {
  width: 35%;
}

.login-screen-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.title-description {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin: 0.5em 0 3em 0;
}

.field {
  width: 85%;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  border-radius: 8px;
  border: 1px solid var(--bordercolor);
  padding: 0.8em;
}

.to-fill {
  display: block;
  width: 100%;
  font-size: 1.6em;
  padding: 0.2em 0.2em;
  text-align: left;
  margin: auto;
  border: none;
  background-color: var(--windowcolor);
  border-radius: 8px;
}

.icon {
  width: 10%;
  display: inline-block;
}

.to-fill::placeholder {
  text-align: left;
  font-size: 1em;
}

.to-fill:focus {
  outline: none;
}

.icongrey {
  font-size: 1.8em;
  color: #7e7e7e;
  font-weight: 900;
}

.btn {
  width: 85%;
  margin: 2em auto;
  text-align: center;
}

.button {
  text-decoration: none;
  font-size: 1.6em;
  padding: 0.6em;
  width: 100%;
  border-radius: 8px;
  background-color: var(--maincolor);
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1%;
  margin-top: 1em;
}

.foot a {
  width: 60%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2%;
}

.foot p {
  font-size: 0.8em;
  font-weight: 600;
}

.foot img {
  width: 45%;
}

/* Formatação de login error */
.fields {
  width: 85%;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  border-radius: 8px;
  border: 1px solid var(--maincolor);
  padding: 0.8em;
}
.to-fills::placeholder {
  color: var(--maincolor);
}

.iconred {
  font-size: 1.8em;
  color: var(--maincolor);
  font-weight: 900;
} /* Aqui ficou tudo vermelho*/

.to-fills:focus::placeholder {
  color: #7e7e7e;
}

.fields:has(.to-fills:focus) {
  border: 1px solid var(--bordercolor);
}

.fields:has(.to-fills:focus) div ion-icon {
  color: #7e7e7e;
}

.fields:has(input:valid) {
  border: 1px solid var(--bordercolor);
}

.fields:has(input:valid) div ion-icon {
  color: #7e7e7e;
}

.fields:has(.to-fill:focus) {
  border: 1px solid var(--bordercolor);
}

.fields:has(.to-fills:focus) div ion-icon {
  color: #7e7e7e;
}

.fields:has(input:valid) {
  border: 1px solid var(--bordercolor);
}

.fields:has(input:valid) div ion-icon {
  color: #7e7e7e;
}

.error-text {
  text-align: center;
  width: 85%;
  margin: auto;
  color: var(--maincolor);
  padding-left: 0.4em;
}
/*Fim da formatação de erro*/
