* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "roboto", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bgcolor);
}

.main-menu {
  border: 1px solid var(--bordercolor);
  width: 90%;
  max-width: 450px;
  padding: 1.6em 0;
  border-radius: 24px;
  box-shadow: 2px 2px 4px rgb(168, 168, 168);
  background-color: var(--windowcolor);
}

.logo {
  text-align: center;
  justify-content: center;
  margin-top: 1em;
}
.logo img {
  width: 35%;
}

.main-menu-title {
  font-family: "montserrat", sans-serif;
  font-size: 4em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  text-decoration: none;
  text-align: center;
  font-size: 1.4em;
  margin: 0.5em;
  padding: 0.5em;
  width: 75%;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--maincolor);
  color: white;
  border: none;
}

.buttons:hover {
  background-color: var(--maincolorhover);
}

.return-div {
  width: 75%;
  text-align: left;
  margin: 1.8em auto;
}

.return-div a {
  text-decoration: none;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--secundarytext);
  font-size: 1em;
  padding: 0.98em 2em;
}

.foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1%;
  margin-top: 1em;
}

.foot a {
  width: 60%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2%;
}

.foot p {
  font-size: 0.8em;
  font-weight: 600;
}

.foot img {
  width: 45%;
}
